$main-color: #35BD78;
// $text-color: #000;
$warning-color: #ffd633;
$danger-color: #ff471a;

$white-color: #ffffff;

$text-white-color: $white-color;

$facebook-color: #3C5A99;

$text-color: #181818;

$loading-color: $main-color;


/* pain level*/
$pain-level-1: #0679E0;
$pain-level-2: #FECB3D;
$pain-level-3: #FC5605;

$linear-background-color: linear-gradient(90.04deg, #22A2A1 0.06%, #36BE78 99.91%);